# Django
DJANGO_SECRET_KEY=cambia-esto-por-una-clave-aleatoria-larga
DJANGO_DEBUG=0
DJANGO_ALLOWED_HOSTS=pdf.comrec.lan
DJANGO_CSRF_TRUSTED_ORIGINS=http://pdf.comrec.lan
DJANGO_USE_X_FORWARDED_HOST=1

# PostgreSQL
POSTGRES_DB=pdfcompressor
POSTGRES_USER=pdfcompressor
POSTGRES_PASSWORD=cambia-esto-por-una-password-segura
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Redis / Celery
CELERY_BROKER_URL=redis://redis:6379/0

# Ghostscript
GHOSTSCRIPT_BIN=gs

# Cleanup
COMPRESSED_FILE_TTL_HOURS=24
